.multiLang {
  display: grid;
  gap: 4px;
  grid-template-columns: auto auto auto;
  width: fit-content;
  float: right;
  color: #ffffff;
}

.multiLang span {
  cursor: pointer;
}

.multiLang img {
  cursor: pointer;
}

.langUnfocus {
  opacity: 0.4;
}

.logo {
  width: 150px;
}

@media (max-width: 990px) {
  .multiLang {
    position: absolute;
    right: 20px;
    top: -65px;
  }

  .logo {
    width: 130px;
  }
}
